In [ ]:
import pandas as pd
import numpy as np
import fix_yahoo_finance as fyf
from pandas_datareader import data as web
from datetime import datetime

In [ ]:
#fetching data
fyf.pdr_override()
today_date=datetime.today().strftime('%Y-%m-%d')
yf_data=web.get_data_yahoo('BTC-USD', start = '2017-01-01', end = today_date)
#bitcoin dataframe
bitcoin_df=pd.DataFrame(yf_data)
bitcoin_df.reset_index(inplace=True)
bitcoin_df

[*********************100%***********************]  1 of 1 downloaded

           Date          Open  ...     Adj Close       Volume
0    2017-01-01    963.658020  ...    998.325012    147775008
1    2017-01-02    998.617004  ...   1021.750000    222184992
2    2017-01-03   1021.599976  ...   1043.839966    185168000
3    2017-01-04   1044.400024  ...   1154.729980    344945984
4    2017-01-05   1156.729980  ...   1013.380005    510199008
...         ...           ...  ...           ...          ...
1500 2021-02-14  47114.507813  ...  48717.289063  71248675228
1501 2021-02-15  48696.535156  ...  47945.058594  77069903166
1502 2021-02-17  49207.277344  ...  52149.007813  80820545404
1503 2021-02-18  52140.972656  ...  51679.796875  52054723579
1504 2021-02-20  55830.261719  ...  56193.792969  65593774080

[1505 rows x 7 columns]

In [ ]:
#checking for null values
bitcoin_df.isnull().values.any()

False

**Feature Engineering**

In [ ]:
#simple moving average 10,30 days
def SMA(df, x):
  SMA_calc=df.Close.rolling(window=x, min_periods=x).mean()
  return SMA_calc
bitcoin_df['SMA10']=SMA(bitcoin_df,10)
bitcoin_df['SMA30']=SMA(bitcoin_df,30)

#exponential moving average 20,30,200 days
def EMA(df, x):
  EMA_calc=df.Close.ewm(span=x, min_periods=x, adjust=False).mean()
  return EMA_calc

bitcoin_df['EMA20']=EMA(bitcoin_df,20)
bitcoin_df['EMA30']=EMA(bitcoin_df,30)
bitcoin_df['EMA200']=EMA(bitcoin_df,200)
#bitcoin_df['EMA20']=bitcoin_df.Close.ewm(span=20, min_periods=20, adjust=False).mean()

In [ ]:
#rate of change ROC 10,30 days
def ROC(df, n):
  ROC_diff=df.Close.diff(n)
  ROC_shift=df.Close.shift(n)
  #roc formula
  ROC_calc=((ROC_diff/ROC_shift)*100)
  return ROC_calc
  
bitcoin_df['ROC10']=ROC(bitcoin_df,10)
bitcoin_df['ROC30']=ROC(bitcoin_df,30)

In [ ]:
#volume rate of change 10,30 days
def VROC(df, n):
  VROC_diff=df.Volume.diff(n)
  VROC_shift=df.Volume.shift(n)
  #roc formula
  VROC_calc=((VROC_diff/VROC_shift)*100)
  return VROC_calc
  
bitcoin_df['VROC10']=VROC(bitcoin_df,10)
bitcoin_df['VROC30']=VROC(bitcoin_df,30)

In [ ]:
#relative strength index RSI 14 days
def RSI(df, n=14):
  delta=df.Close.diff()
  dup, ddown=delta.copy(), delta.copy()
  #average gains and losses
  dup[dup<0]=0
  ddown[ddown>0]=0
  rolup=dup.rolling(window=n, min_periods=n).mean()
  roldown=ddown.rolling(window=n, min_periods=n).mean().abs()
  #relative strength
  RS_calc=rolup/roldown
  #rsi formula
  RSI_calc=(100-(100/(1+RS_calc)))
  return RSI_calc

bitcoin_df['RSI14']=RSI(bitcoin_df)

In [ ]:
#RSI indicators %30 %70
def RSI_Ind(df):
  rsi_vals=[]
  for i in df['RSI14'].iloc[:]:
    if i <= 30:
      rsi_vals.append(0)
    elif i >= 70:
      rsi_vals.append(1)
    else:
      rsi_vals.append(2)
  return rsi_vals

bitcoin_df['RSI14_IND']=RSI_Ind(bitcoin_df)

In [ ]:
#STO%K%D Stochastic oscillator 14,200 days
def STOK(close, low, high, n):
  STOK_calc=((close-low.rolling(n).min())/(high.rolling(n).max()-low.rolling(n).min()))*100
  return STOK_calc

bitcoin_df['STOK14']=STOK(bitcoin_df.Close, bitcoin_df.Low, bitcoin_df.High, 14)
bitcoin_df['STOK200']=STOK(bitcoin_df.Close, bitcoin_df.Low, bitcoin_df.High, 200)

def STOD(stod, n):
  STOD_calc=stod.rolling(3).mean()
  return STOD_calc

bitcoin_df['STOD14']=STOD(bitcoin_df.STOK14, 14)
bitcoin_df['STOD14']=STOD(bitcoin_df.STOK200, 200)

In [ ]:
#bollinger bands upper
def BBandsUp(close, n, mult):
  BBandsUp_calc=close.rolling(window=n, min_periods=n).mean() + close.rolling(window=n, min_periods=n).std() * mult
  return BBandsUp_calc

bitcoin_df['BBandUpper']=BBandsUp(bitcoin_df.Close,20,2)
#bollinger bands lower
def BBandsLow(close, n, mult):
  BBandsLow_calc=close.rolling(window=n, min_periods=n).mean() - close.rolling(window=n, min_periods=n).std() * mult
  return BBandsLow_calc

bitcoin_df['BBandlower']=BBandsLow(bitcoin_df.Close,20,2)

In [ ]:
bitcoin_df.head(32)

         Date         Open         High  ...  STOD14   BBandUpper  BBandlower
0  2017-01-01   963.658020  1003.080017  ...     NaN          NaN         NaN
1  2017-01-02   998.617004  1031.390015  ...     NaN          NaN         NaN
2  2017-01-03  1021.599976  1044.079956  ...     NaN          NaN         NaN
3  2017-01-04  1044.400024  1159.420044  ...     NaN          NaN         NaN
4  2017-01-05  1156.729980  1191.099976  ...     NaN          NaN         NaN
5  2017-01-06  1014.239990  1046.810059  ...     NaN          NaN         NaN
6  2017-01-07   903.487000   908.585022  ...     NaN          NaN         NaN
7  2017-01-08   908.174988   942.723999  ...     NaN          NaN         NaN
8  2017-01-09   913.244019   913.685974  ...     NaN          NaN         NaN
9  2017-01-10   902.440002   914.872986  ...     NaN          NaN         NaN
10 2017-01-11   908.114990   919.447998  ...     NaN          NaN         NaN
11 2017-01-12   775.177979   826.245972  ...     NaN          NaN         NaN
12 2017-01-13   803.737000   829.000977  ...     NaN          NaN         NaN
13 2017-01-14   825.142029   835.085022  ...     NaN          NaN         NaN
14 2017-01-15   818.142029   823.307007  ...     NaN          NaN         NaN
15 2017-01-16   821.783020   834.530029  ...     NaN          NaN         NaN
16 2017-01-17   830.945984   910.560974  ...     NaN          NaN         NaN
17 2017-01-18   909.372986   917.499023  ...     NaN          NaN         NaN
18 2017-01-19   888.335022   904.614014  ...     NaN          NaN         NaN
19 2017-01-20   898.171997   899.398010  ...     NaN  1099.650965  723.498125
20 2017-01-21   895.549011   927.367004  ...     NaN  1091.455933  724.039557
21 2017-01-22   922.205017   937.525024  ...     NaN  1078.887356  726.900431
22 2017-01-23   925.499023   928.265991  ...     NaN  1060.159128  733.345864
23 2017-01-24   910.677002   924.145020  ...     NaN   993.064121  774.236575
24 2017-01-25   891.924011   903.252014  ...     NaN   969.513314  786.603580
25 2017-01-26   902.395020   919.325989  ...     NaN   971.389706  786.265690
26 2017-01-27   918.359009   923.223022  ...     NaN   972.834046  785.937848
27 2017-01-28   919.810974   923.911011  ...     NaN   974.209951  785.601047
28 2017-01-29   922.067017   923.418030  ...     NaN   976.183993  785.293803
29 2017-01-30   920.151001   923.047974  ...     NaN   977.738628  785.009468
30 2017-01-31   920.958984   972.018982  ...     NaN   982.131678  799.881018
31 2017-02-01   970.940979   989.114014  ...     NaN   991.900019  808.531579

[32 rows x 23 columns]